obj
bin
*.chm
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
/product/docs/Help/*.*
/artifacts
/product/config/app.config.vista
/product/config/app.config.xp
/product/config/log4net.config.xml

